@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  font-family: "Roboto", sans-serif;
}
.navbar a {
  text-decoration: none;
  color: #5258f1;
  padding: 6px;
  word-wrap: normal;
  display: inline-block;
  margin: 0px 50px 0 50px;
}
.navbar a:hover {
  color: #092b47;
}
